{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block body%}
<section>
<article>
  <h1>Crafting</h1>
  <p>Arts and crafts describes a wide variety of activities involving making things with one's own hands. Arts and crafts is usually a hobby. Some crafts (art skills) have been practised for centuries, others are more recent inventions. William Morris, John Ruskin and others promoted an "arts and crafts" movement in the late 19th century, which popularized the phrase.
Both children and adults enjoy arts and crafts. Children in schools may learn skills such as woodworking, wood carving, sewing, or making things with all sorts of material. Many community centres and schools have evening or day classes and workshops where one can learn arts and craft skills.</p>

<img src="../img/craft.jpg">
</article>
<article>
	<h1>Scrapbooking</h1>
	<p>Scrapbooking is a method of preserving, presenting, arranging personal and family history in the form of a book, box, card. Typical memorabilia include photographs, printed media, and artwork. Scrapbook albums are often decorated and frequently contain extensive journaling. Scrapbooking started in the United Kingdom in the nineteenth century, but is now primarily a United States phenomenon.</p>
<img src="../img/scrap.jpg">	
</article>
<article>
	<h1>Bullet Journal</h1>
	<p>A method of journaling and note-taking that uses bullet points as the core structure</p>
<img src="../img/bullet.jpg">
</article>
</section>
{% endblock %}