

<header>
<ul>
  <li><a href="{{path('homepage')}}">Home</a></li>
  <li><a href="{{path('add_user')}}">Register</a></li>
  <li><a href="{{path('add_product')}}">Add product</a></li>
  <li><a href="#">About</a></li>
</ul>

   <img src="../img/logo.png">
   
</header>

{% set infoMessages = app.flashes('info') %}
{% if infoMessages is not empty %} {#on crée une div que quand un produit a été créé#}

<div class="container">
	{% for message in infoMessages %}
		<p class="success">{{ message }}</p>
	{% endfor %}

</div>

{% endif %}
  