

<header>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

   <img src="../img/logo.png">
   
</header>

{% set infoMessages = app.flashes('info') %}
{% if infoMessages is not empty %} {#on crée une div que quand un produit a été créé#}

<div class="container">
	{% for message in infoMessages %}
		<p class="success">{{ message }}</p>
	{% endfor %}

</div>

{% endif %}
  